@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&family=Walter+Turncoat&display=swap');
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-family: "Concert One", serif;
}
h2{
    font-family: "Walter Turncoat", serif;
}
body{
    font-family: "Walter Turncoat", serif;
}
h1{
    text-align: center; 

}
.navbar ul{
    list-style-type: none;
    background-color: rgba(252, 252, 252, 0.384) ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(122, 84, 89, 0.7);

   
}
.navbar a{
    color: rgb(153, 120, 109);
    text-decoration: solid;
    padding: 15px;
    display: block;
    text-align: center;
    
    
}
.navbar a:hover{
    background-color: rgba(208, 182, 180, 0.845);
}
.navbar li{
    float: left;
    
}
.text-center{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    background-color: rgba(252, 252, 252, 0.384) ;
    padding: 20px;
    margin: 20px;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(122, 84, 89, 0.7);

}
.thicky{
    list-style-type: none;
    background-color: rgba(252, 252, 252, 0.384) ;
    padding: 2dvh;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(122, 84, 89, 0.7)  
}
#borderpic{
    border-style: solid;
    border-color:rgba(118, 86, 86, 0.384) ;
    border-width: 14px;
    border-radius: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 20px rgba(63, 34, 38, 0.7);
}
.header49{
    text-align: center;
}
.centerabout{
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    padding: 4px;
}
.column{
    display: flex;
    justify-content: space-evenly;
    flex: 50%;
    padding: 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    border-style: solid;
    border-color:rgba(81, 54, 75, 0.384) ;
    border-width: 14px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(30, 16, 18, 0.7);
}
.linkwork{
    border-style: solid;
    border-color:rgba(63, 46, 59, 0.384) ;
    border-width: 14px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(30, 16, 18, 0.7);
    display: flex;
    justify-content: space-evenly;
    flex: 50%;
    padding: 4px;
    align-items: center;
}



